[Desktop Entry]
Type=Application
Exec=fluent
Hidden=false
Name[C]=fluent
Name=fluent
Comment[C]=
Comment=
X-MATE-Autostart-Delay=0
Icon=/cvmfs/soft.computecanada.ca/config/jupyterhub_node/icons/Ansys.svg


