[Desktop Entry]
Type=Application
Exec=ansysedt
Hidden=false
Name[C]=ansysedt
Name=ansysedt
Comment[C]=
Comment=
X-MATE-Autostart-Delay=0
Icon=/cvmfs/soft.computecanada.ca/config/jupyterhub_node/icons/Ansys.svg

