#- title: Job statistics
#  description: Statistics of this job
#  source: https://portail.narval.calculquebec.ca/secure/jobstats/{{USER}}/{{SLURM_JOB_ID}}
#  type: url
#  catalog: Other
#  icon: /cvmfs/soft.computecanada.ca/config/jupyterhub_node/icons/Metrix.svg
#  args:
#    sandbox: [ 'allow-same-origin', 'allow-scripts', 'allow-downloads', 'allow-modals', 'allow-popups']
#    referrerPolicy: ['no-referrer']
#    createNewWindow: true
- title: Globus
  description: Globus file transfer
  source: https://app.globus.org/file-manager?origin_id=97bda3da-a723-4dc0-ba7e-728f35183b43
  type: url
  catalog: Other
  icon: /cvmfs/soft.computecanada.ca/config/jupyterhub_node/icons/Globus.svg
  args:
    sandbox: [ 'allow-same-origin', 'allow-scripts', 'allow-downloads', 'allow-modals', 'allow-popups']
    referrerPolicy: ['no-referrer']
    createNewWindow: true
