#- title: Job statistics
#  description: Statistics of this job
#  source: https://portail.narval.calculquebec.ca/secure/jobstats/{{USER}}/{{SLURM_JOB_ID}}
#  type: url
#  catalog: Other
#  icon: /cvmfs/soft.computecanada.ca/config/jupyterhub_node/icons/Metrix.svg
#  args:
#    sandbox: [ 'allow-same-origin', 'allow-scripts', 'allow-downloads', 'allow-modals', 'allow-popups']
#    referrerPolicy: ['no-referrer']
#    createNewWindow: true
- title: Globus
  description: Globus file transfer
  source: https://globus.alliancecan.ca/file-manager?origin_id=8dec4129-9ab4-451d-a45f-5b4b8471f7a3
  type: url
  catalog: Other
  icon: /cvmfs/soft.computecanada.ca/config/jupyterhub_node/icons/Globus.svg
  args:
    sandbox: [ 'allow-same-origin', 'allow-scripts', 'allow-downloads', 'allow-modals', 'allow-popups']
    referrerPolicy: ['no-referrer']
    createNewWindow: true
