[Desktop Entry]
Type=Application
Exec=mapdl -g
Hidden=false
Name[C]=mapdl
Name=mapdl
Comment[C]=
Comment=
X-MATE-Autostart-Delay=0
Icon=/cvmfs/soft.computecanada.ca/config/jupyterhub_node/icons/Ansys.svg


