- title: General
  description: Alliance documentation
  source: https://docs.alliancecan.ca
  type: url
  catalog: Documentation
  icon: /cvmfs/soft.computecanada.ca/config/jupyterhub_node/icons/Alliance.svg
  args:
    sandbox: [ 'allow-same-origin', 'allow-scripts', 'allow-downloads', 'allow-modals', 'allow-popups']
    referrerPolicy: ['no-referrer']
    createNewWindow: true
- title: Doc {{CC_CLUSTER}}
  description: Documentation - {{CC_CLUSTER}}
  source: https://docs.alliancecan.ca/wiki/{{CC_CLUSTER}}
  type: url
  catalog: Documentation
  icon: /cvmfs/soft.computecanada.ca/config/jupyterhub_node/icons/{{CC_CLUSTER}}.svg
  args:
    sandbox: [ 'allow-same-origin', 'allow-scripts', 'allow-downloads', 'allow-modals', 'allow-popups']
    referrerPolicy: ['no-referrer']
    createNewWindow: true
- title: JupyterLab
  description: JupyterLab documentation
  source: https://docs.alliancecan.ca/wiki/JupyterLab
  type: url
  catalog: Documentation
  icon: /cvmfs/soft.computecanada.ca/config/jupyterhub_node/icons/Jupyter.svg
  args:
    sandbox: [ 'allow-same-origin', 'allow-scripts', 'allow-downloads', 'allow-modals', 'allow-popups']
    referrerPolicy: ['no-referrer']
    createNewWindow: true

