- title: General
  description: Alliance documentation
  source: https://docs.alliancecan.ca
  type: url
  catalog: Documentation
  args:
    sandbox: [ 'allow-same-origin', 'allow-scripts', 'allow-downloads', 'allow-modals', 'allow-popups']
    referrerPolicy: ['no-referrer']
    createNewWindow: true
- title: {{CC_CLUSTER}}
  description: Documentation - {{CC_CLUSTER}}
  source: https://docs.alliancecan.ca/wiki/{{CC_CLUSTER}}
  type: url
  catalog: Documentation
  args:
    sandbox: [ 'allow-same-origin', 'allow-scripts', 'allow-downloads', 'allow-modals', 'allow-popups']
    referrerPolicy: ['no-referrer']
    createNewWindow: true
- title: Jupyter
  description: JupyterHub documentation
  source: https://docs.alliancecan.ca/wiki/JupyterHub
  type: url
  catalog: Documentation
  args:
    sandbox: [ 'allow-same-origin', 'allow-scripts', 'allow-downloads', 'allow-modals', 'allow-popups']
    referrerPolicy: ['no-referrer']
    createNewWindow: true

