- title: Job statistics
  description: Statistics of this job
  source: https://my.scinet.utoronto.ca/jobs/trillium/{{SLURM_JOB_ID}}
  type: url
  catalog: Other
  args:
    sandbox: [ 'allow-same-origin', 'allow-scripts', 'allow-downloads', 'allow-modals', 'allow-popups']
    referrerPolicy: ['no-referrer']
    createNewWindow: true
- title: Globus (home)
  description: Globus file transfer
  source: https://globus.alliancecan.ca/file-manager?origin_id=e9b2685e-f741-4c25-b857-2ec83ebb0f0c
  type: url
  catalog: Other
  icon: /cvmfs/soft.computecanada.ca/config/jupyterhub_node/icons/Globus.svg
  args:
    sandbox: [ 'allow-same-origin', 'allow-scripts', 'allow-downloads', 'allow-modals', 'allow-popups']
    referrerPolicy: ['no-referrer']
    createNewWindow: true
- title: Globus (project)
  description: Globus file transfer
  source: https://globus.alliancecan.ca/file-manager?origin_id=b2759c38-0d00-455a-85c7-3523114e273e
  type: url
  catalog: Other
  icon: /cvmfs/soft.computecanada.ca/config/jupyterhub_node/icons/Globus.svg
  args:
    sandbox: [ 'allow-same-origin', 'allow-scripts', 'allow-downloads', 'allow-modals', 'allow-popups']
    referrerPolicy: ['no-referrer']
    createNewWindow: true
- title: Globus (scratch)
  description: Globus file transfer
  source: https://globus.alliancecan.ca/file-manager?origin_id=a8016fc2-8688-45ae-98e0-4e517961d3e1
  type: url
  catalog: Other
  icon: /cvmfs/soft.computecanada.ca/config/jupyterhub_node/icons/Globus.svg
  args:
    sandbox: [ 'allow-same-origin', 'allow-scripts', 'allow-downloads', 'allow-modals', 'allow-popups']
    referrerPolicy: ['no-referrer']
    createNewWindow: true
