[Desktop Entry]
Type=Application
Exec=matlab
Hidden=false
Name[C]=matlab
Name=matlab
Comment[C]=
Comment=
X-MATE-Autostart-Delay=0
Icon=/cvmfs/soft.computecanada.ca/config/jupyterhub_node/icons/MATLAB.svg

